<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario">
        <form action="/movies/create" method="POST">
            <label for="title">Title </label>
            <p><input type="text" name="title" id="" value="<%= locals.oldData && locals.oldData.title ? oldData.title : null %>" required></p>
            <p><%= locals.errors && locals.errors.title ? errors.title.msg : null %> </p>
            <label for="rating">Rating </label>
            <p><input type="number" name="rating" id="" value="<%= locals.oldData && locals.oldData.rating ? oldData.rating : null %>" required> </p>
            <p><%= locals.errors && locals.errors.rating ? errors.rating.msg : null %> </p>
            <label for="awards">Awards </label>
            <p><input type="number" name="awards" id="" value="<%= locals.oldData && locals.oldData.awards ? oldData.awards : null %>" required></p>
            <p><%= locals.errors && locals.errors.awards ? errors.awards.msg : null %> </p>
            <label for="release_date">Release date </label>
            <p><input type="date" name="release_date" id="" value="<%= locals.oldData && locals.oldData.release_date ? oldData.release_date : null %>" required></p>
            <p><%= locals.errors && locals.errors.release_date ? errors.release_date.msg : null %> </p>
            <label for="length">Length </label>
            <p><input type="number" name="length" id="" value="<%= locals.oldData && locals.oldData.length ? oldData.length : null %>" required></p>
            <p><%= locals.errors && locals.errors.length ? errors.length.msg : null %> </p>

            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
    
</body>

</html>